<!doctype html>
<html lang="pt" ng-app="netWageCalculator">
<head>
  <meta charset="utf-8">
  <title>Ferramenta de cálculo da retenção na fonte</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

  <div ng-controller="MainCtrl" class="input">

  <label for="grossSalary">Salário bruto</label>
  <input id="grossSalary" type="number" ng-model="calcData.grossSalary" required/>

  <label for="foodAllowance">Subsídio de alimentação</label>
  <input id="foodAllowance" type="number" ng-model="calcData.foodAllowance" required/>

  <br/>

  <input id="monthlyTakeHome" ng-model="monthlyTakeHome" />
  </div>

  <div>Versão: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
